h1 {
    font-family:Verdana;
    color:blue;
    text-align:center;
    }

body {
    background-image:url("campnou_50.jpg");
}

p {
    color:yellow;
}

h2 {
    color:red;
}

a:visited {
    color:white;
}